.container {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-inline: auto;
}

.cell {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.buttonsandsliders {
  display: flex;
  justify-content: center;
}

.adjust-grid-size,
.clear {
  font-size: 30px;
  margin: 20px auto 40px;
}
