.container {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #7f00ff;
  border-radius: 5px;
}

.cell {
  box-sizing: border-box;
  background-color: white;
}

html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  background-color: #1f2937;
}

h1 {
  font-size: 5rem;
  font-weight: 1000;
  font-family: Arial, sans-serif;
  margin: 0;
  margin-bottom: 20px;
  color: #7f00ff;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.buttonsandsliders {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  font-size: 30px;
  margin: 10px 10px 10px;
  min-width: max-content;
  background-color: #7f00ff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  color: #f9faf8;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #5a00b8;
}

button:active {
  background-color: #3d007f;
}
